.box-skill {
  margin-top: 30px;
}

.box-skill h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}

.box-skill ul {
  padding-left: 10px;
}

.box-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-skills li {
  margin-top: 10px;
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}
